.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300vh;
    background-image: url(image/immagine1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* personalizzo il footer  */
footer {
    background-color: rgb(255, 255, 255);
    padding-top: 1%;
    padding-bottom: 1%;
}

.mezzo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* seleziono tutti i p che stanno dentro a contatti  */
.contatti p {
    display: flex;
    align-items: center;
}

.passioni {
    height: 100vh;
    background-color: lightskyblue;
}

.foglio {
    padding: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid black;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999; /* tenere tutto davanti */
}

.glow-text {
  color: #ffffff; /* White text */
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glow-subtext {
  color: #ffffff; /* White text */
  text-shadow:
    0 0 3px #ff4d4d,
    0 0 8px #ff4d4d,
    0 0 15px #ff4d4d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texts {
    padding-bottom: 850px;
}