.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

/* personalizzo il footer  */
footer {
    
    background-color: cornflowerblue;
    padding-top: 1%;
}
.mezzo{
display: flex;
justify-content: center;
align-items: center;
}
.contatti p{
    display: flex;
    align-items: center;
}